<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/tela_jogos.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/elements.css">
</head>
<body>
    <main>
        <!-- Anúncios -->
        <div class="ads-main-container">
            <div class="goto left">
                <p><</p>
            </div>
                <div class="ads-container">
                    <p>Anúncio/Propaganda 1</p>
                </div>
            <div class="goto right">
                <p>></p>
            </div>
        </div>
    
        <!-- Produtos -->
        <div 
            class="products-main-container" 
            onclick="changeSitePage('views/tela_jogoSelecionado.html', 'Comprar Jogo')"
        >
            <div class="products-grid">
                <div class="product-card">
                    <img src="../img/product.png" alt="Produto 1">
                    <div class="data">
                        <h3>Produto 1</h3>
                        <p>Informações do produto</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>