.btn, .btn-destructive, .btn-confirm, .btn-cancel {
    width: calc(auto); /* Largura do botão */
    padding: 10px !important;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-weight: 600;
    transition: all linear 160ms;
    margin: 5px;
    color: #fff;
}

.btn {
    border: 1px solid transparent;
    background-color: var(--button);
}

.btn-destructive {
    border: 3px dotted transparent;
    background-color: var(--destructive-button);
}

.btn:hover {
    transform: scale(1.05);
    /*background-color: var(--button-hover);*/
}

.btn-destructive:hover {
    transform: scale(1.05);
    /*background-color: var(--destructive-button-hover);*/
}

.button-container {
    display: flex;
}

#googleButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nsm7Bb-HzV7m-LgbsSe {
    background-color: var(--bg) !important;
    color: var(--text) !important;
    border: 1px solid var(--border) !important;
}

.S9gUrf-YoZ4jf {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#create-avatar-button {
    position: fixed;
    bottom: 20px;
    z-index: 100;
    width: 80px;
    height: 40px;
    align-items: center;
    justify-content: center;
}