.menu {
    background-color: var(--menu);
    color: var(--text2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu .logo {
    font-size: 18px;
    font-weight: bold;
}

.menu .center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu .center .search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0 20px;
    width: 40%;
}

.menu .center .search-bar .material-icons {
    font-size: 20px;
    color: #aaa;
    margin-right: 10px;
}

.menu .center .search-bar input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: black;
    width: 90%;
}

.menu .user-actions {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.menu .user-actions div {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 24px;
}

.menu .user-actions div:hover {
    color: #aaa;
}