::-webkit-scrollbar {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-thumb {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}

@-moz-document url-prefix() {
    .form .right {
        overflow-x: hidden !important;
        overflow: hidden;
    }
    .centered {
        align-items: unset !important;
    }
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    align-self: center;
    height: 100%;
}

.form {
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 15px;
    padding: 35px;
    gap: 5px;
    width: 800px;
    height: 320px;
    border: 2px solid var(--border);
    background-color: transparent;
    transition : border 300ms ease-out;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.error-message {
    border: 1px solid var(--form-err-border);
    color: var(--text);
    padding: 5px;
    position: absolute;
    top: 10px;
    border-radius: 5px;
}

.form .left {
    grid-column: 1;
}

.form .right {
    display: grid;
    position: relative;
    grid-column: 2;
    grid-auto-flow: column; /* Garante que os containers sigam para o eixo X */
    overflow-x: auto; /* Adiciona rolagem horizontal quando os containers ultrapassarem a largura da tela */
    white-space: nowrap; /* Impede quebras de linha */
}

#logo {
    margin-left: auto;
    margin-right: auto;
    width: 50%;  /* ou qualquer outro valor que você deseja */
    height: auto; /* mantém a proporção da imagem */
}

.form .left h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.form p {
    font-size: 15px;
    margin-bottom: 25px;
    text-align: justify;
}

.form label {
    font-size: 14px;
    font-weight: 600;
}

.form a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: var(--text);
    transition: all linear 160ms;
    text-decoration: none;
    cursor: pointer;
}

.form .form-link {
    color: var(--form-sub);
}

.form .form-link.critical:hover {
    color: var(--form-critical-link);
}

.form .form-link.normal {
    color: var(--text);
}

.form .form-link.normal:hover {
    color: var(--form-normal-link);
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Separa inputs e botão */
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.formStep {
    height: 100%;
}

.sepElements {
    display: flex; 
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
}

.joinElements {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.sepButtons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px
}

.show {
    display: block;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.centered > div {
    width: 100%; /* Faz com que os filhos ocupem a largura total do pai */
    box-sizing: border-box; /* Garante consistência com padding e border */
}

.active {
    display: block;
}

.inactive {
    display: none;
}

hr {
    border: 0;
    border-top: 1px solid var(--border);
}

.uiMiniMsgBox {
    text-align: center;
    margin: 15px 30px 0px 30px;
}

/* Estilo para transições de entrada e saída */
.slide-right-enter-active, .slide-left-enter-active {
    transition: transform 0.5s ease;
}
  
/* Para a transição de entrada (quando vai para a próxima etapa) */
.slide-right-enter-from {
    transform: translateX(100%);
}
  
.slide-right-enter-to {
    transform: translateX(0);
}
  
/* Para a transição de saída (quando vai para a próxima etapa) */
.slide-right-leave-to {
    transform: translateX(-100%);
}
  
/* Para a transição de entrada quando volta (vai para a etapa anterior) */
.slide-left-enter-from {
    transform: translateX(0);
}
  
.slide-left-enter-to {
    transform: translateX(100%);
}
  
/* Para a transição de saída (quando volta para a etapa anterior) */
.slide-left-leave-to {
    transform: translateX(-100%);
}
  

@media (max-width: 900px) {
    .page {
        box-sizing: border-box;
        flex-direction: column;
    }

    .form {
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        min-width: 30vh;
        border: none;
        width: unset;
        height: none;
    }

    .sepButtons {
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 600px) {
    
    .form {
        grid-template-rows: auto auto; /* Cada linha ajustará a altura automaticamente */
        grid-template-columns: none;
        border-radius: unset;
        padding: 35px;
        gap: 0; /* Espaçamento entre os elementos */
        width: auto;
        height: auto;
    }
    
    .form .left {
        display: grid;
        grid-row: 1; /* Aloca na primeira linha */
        grid-column: 1; /* Garante que estará na única coluna */
    }
    
    .form .right {
        grid-row: 2; /* Aloca na segunda linha */
        grid-column: 1; /* Garante que estará na única coluna */
    }

    .form .left h1 {
        text-align: center;
    }

    .formStep {
        height: unset;
    }

    .sepButtons {
        position: unset;
    }

    #logo {
        justify-self: center;
    }

}
