@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tema claro */
:root {
    --text: #000;
    --bg: #fff;
    --border: #efeded;
    --input-bg: #e9ecef;
    --input-text: #737c85;
    --button: #205edc;
    --button-hover: #2466ea;
    --destructive-button: #bb2a2a;
    --destructive-button-hover: #a23333;
    --bg2: #dbdbdb;
    --game-text-container-bg: #f8f8f8;
    --menu: #fafafa; /* Antes #f0f0f0 */
    --mh-user-email: #535353;
    --mh-options: #000000;
    --mh-options-hover: #393939;
    --form-group: #dddddd;
    --overlay-bg: #12121241;
    --scroll-button: #91919194;
    --scroll-button-hover: #ffffff85;
}

/* Tema escuro */
:root[data-theme='dark'] {
    --text: #ffffff;
    --bg: #000000;
    --border: #181818;
    --input-bg: #2e2e2e;
    --input-text: #e0e0e0;
    --button: #105faa;
    --button-hover: #136dc2;
    --destructive-button: #a20202;
    --destructive-button-hover: #bb0b0b;
    --bg2: #262626;
    --game-text-container-bg: #111111;
    --menu: #0c0c0c; /* Antes, 060606 */
    --mh-user-email: #b0b0b0;
    --mh-options: #dcdcdc;
    --mh-options-hover: #646464;
    --form-group: #232323;
    --overlay-bg: #29292951;
    --scroll-button: #FFFFFF1C;
    --scroll-button-hover: #ffffff2c;
}

/* Tela de Login Clara */
:root {
    --form-bg:#ffffff;
    --form-forgot-link: #a20202;
    --form-normal-link: #0066ff;
    --form-normal-link-hover: #0066ff;
    --form-bg_f: #f7f7f7;
    --form-input: #ffffff;
    --form-bg-sub: #f1f1f1;
    --form-sub: #666;
}

/* Tela de Login Escura */
:root[data-theme='dark'] {
    --form-bg:#080808;
    --form-forgot-link: #bb0b0b;
    --form-normal-link: #0f67ec;
    --form-normal-link-hover: #0066ff;
    --form-bg_f: #151414;
    --form-input: #1f1e1e;
    --form-bg-sub: #211f1f;
    --form-sub: #cbcbcb;
}

/* Outros itens */
:root {
    --form-field-text-hover: #1778FB;
}

/* Outras configurações */
:root {
    --font: 'Noto Sans';
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.noto-color-emoji-regular {
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
  
.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid var(--input-bg);
    border-top: 6px solid var(--input-text);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    to {
      transform: rotate(360deg);
    }
}