/* Tela de PC/Laptop */
/* CSS CONVENCIONAL */
.menu {
    z-index: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-sizing: border-box;
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--bg) var(--bg);
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    border-right: 1px solid var(--border);
    /* background-color: var(--menu); */
}

.menu-content {
    height: 100%;
    width: auto;
}

.hide-menu {
    position: absolute;
    top: 26px;
    left: 16px;
    transform: translateY(-50%);
    font-size: 25px;
    cursor: pointer;
    border-radius: 30px;
    color: var(--text);
    border: none;
    z-index: 3;
    justify-content: center;
    align-items: center;
}

.menu.active .center ul li a p {
    display: unset;
}

.menu.active .center ul li,
.menu.active .user-info,
.menu.active header {
    opacity: 1;
    transform: translateY(0);
    cursor: pointer;
}

.center {
    margin-top: 100px;
}

.menu.minimized .center {
    margin-top: 0;
}

.center ul {
    list-style: none;
    margin: 0;
    transition: 0.5s ease;
}

.center ul li {
    padding: 5px 15px;
    transition: transform 0.3s ease;
}

.center ul li:hover {
    transform: scale(1.1);
}

.center ul li a span {
    font-size: 24px;
}

.center ul li a {
    text-decoration: none;
}

.user-info {
    height: 40px;
    margin-top: 20px;
}

.menu ul li a p,
.user-info p,
header {
    /* display: none; */
    transition: width 0.5s ease;
}

.hidden {
    transition: width 0.2s ease, transform 0.5s ease, border 450ms ease-out !important;
    transform: translateX(-100%);
}

.hide {
    display: none;
    transition: opacity 0.5s ease;
}

.user-info {
    position: relative;
    text-align: center;
    padding: 20px;
}

.user-info img.profile-picture {
    width: 60px; /* Aumente o tamanho da imagem */
    height: 60px; /* Garantir que a imagem tenha altura proporcional */
    border-radius: 50%;
}

.user-name {
    font-size: 18px;
    margin: 5px 0;
}

.user-email {
    font-size: 14px;
    color: var(--mh-user-email);
}

.menu-options {
    display: flex;
    align-items: center;
}

.menu-options ul {
    list-style-type: none;
    padding: 0;
}

.menu-options li {
    padding-left: 15px;
    display: flex;
    list-style: none;
}

.menu-options a {
    display: flex;
    color: var(--mh-options);
    text-decoration: none;
    cursor: pointer;
}

.menu-options a p {
    margin-left: 8px;
}

.menu-options a span {
    margin-top: 15px;
}

.menu-options a:hover {
    color: var(--mh-options-hover);
}

.menu {
    display: grid !important;
    grid-column: 1;
    border-radius: 15px;
    align-self: flex-start;
    height: 100%;
    width: 240px;
    transition: width 0.5s ease, transform 0.5s ease;
}

.menu.minimized {
    width: 60px;
}

.menu.active {
    border-radius: 0px;
}

.menu .center ul li a p {
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(0);
}

.menu p {
    display: none;
    transition: font-size 0.3s ease;
}

.menu .center ul li a p {
    opacity: 0;
    transform: translateX(-20px);
    pointer-events: none;
}

.menu .center ul li a span {
    transition: transform 0.3s ease;
}

.menu .center ul li a span {
    transform: scale(1.2);
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu.minimized.hidden {
    transform: translateX(-100%);
}

.menu.active.hidden {
    transform: translateX(0%);
}

.menu .center ul {
    transition: opacity 0.5s ease-in-out;
}

.menu .user-info img {
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.menu .user-info {
    margin-top: 100px;
    margin-bottom: 20px;
}

.menu .user-info img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
    margin-top: 10px;
}

.menu .invisible-drag-camp {
    display: none;
}