.navigator {
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    height: 100%;
    background-color: var(--menu);
    z-index: 999;
    transition: transform 0.3s ease; /* Adiciona transição suave */
    transform: translateX(100%); /* Oculta o navigator */
    border-left: 1px solid var(--border);
}

.navigator {
    transform: translateX(0); /* Exibe o navigator */
}

.navigator.hidden {
    right: 0;
    transform: translateX(100%);
}

.navigator.active {
    right: 0; /* Exibe o navigator */
}

.hide-navigator {
    position: absolute;
    top: 10px;
    left: -40px; /* Posiciona o botão fora do navigator */
    font-size: 25px;
    cursor: pointer;
    color: var(--text);
    z-index: 1000;
}

.navigator.active .center ul li a p {
    display: unset;
}

.navigator.minimized .center {
    margin-top: 0;
}

.navigator .center ul {
    list-style: none;
    margin: 0;
    transition: 0.5s ease;
}

.navigator.center ul li {
    padding: 5px 15px;
    transition: transform 0.3s ease;
}

.navigator .center ul li:hover {
    transform: scale(1.1);
}

.navigator .center ul li a span {
    font-size: 24px;
}

.navigator .center ul li a {
    text-decoration: none;
}

.hide {
    display: none;
    transition: opacity 0.5s ease;
}

.navigator-options {
    display: flex;
    align-items: center;
}

.navigator-options ul {
    list-style-type: none;
    padding: 0;
}

.navigator-options li {
    padding-left: 15px;
    display: flex;
    list-style: none;
}

.navigator-options a {
    display: flex;
    color: var(--mh-options);
    text-decoration: none;
    cursor: pointer;
}

.navigator-options a p {
    margin-left: 8px;
}

.navigator-options a span {
    margin-top: 15px;
}

.navigator-options a:hover {
    color: var(--mh-options-hover);
}

.navigator-options {
    padding: 20px;
}

.navigator-options ul {
    list-style-type: none;
    padding: 0;
}

.navigator-options li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.navigator-options li p {
    margin-left: 10px;
    color: var(--text);
}

.navigator-options li:hover {
    color: var(--mh-options-hover);
}


/* Tela de PC/Laptop (portado do projeto principal*/
.navigator {
    display: grid !important;
    grid-column: 1;
    border-radius: 15px;
    align-self: flex-start;
    height: 100%;
    width: 240px;
    transition: width 0.5s ease, transform 0.5s ease;
}

.navigator.minimized {
    transform: translateX(-100%);
}

.navigator.active {
    border-radius: 0px;
}

.navigator .center ul li a p {
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(0);
}

.navigator.minimized p {
    display: none;
    transition: font-size 0.3s ease;
}

.navigator.minimized .center ul li a p {
    opacity: 0;
    transform: translateX(-20px);
    pointer-events: none;
}

.navigator .center ul li a span {
    transition: transform 0.3s ease;
}

.navigator.minimized .center ul li a span {
    transform: scale(1.2);
    margin-top: 20px;
    margin-bottom: 20px;
}

.navigator.minimized.hidden {
    transform: translateX(-100%);
}

.navigator.active.hidden {
    transform: translateX(0%);
}

.navigator .center ul {
    transition: opacity 0.5s ease-in-out;
}

.navigator .user-info img {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.navigator.minimized .user-info {
    margin-top: 100px;
    margin-bottom: 20px;
}

.navigator.minimized .user-info img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
    margin-top: 10px;
}

.navigator .invisible-drag-camp {
    display: none;
}