::-webkit-scrollbar {
    background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg);
}

::-webkit-scrollbar-track {
    background-color: var(--bg);
}

/* Estilo global do corpo */
body {
    margin: 0;
    padding: 0;
    color: var(--text);
    background-color: var(--bg);
    display: flex;
    scrollbar-width: thin; /* Pode ser "auto", "thin" ou "none" */
    scrollbar-color: var(--bg) var(--bg); /* Cor da parte arrastável e do trilho */
}

/* Estilo principal */
main {
    position: relative;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    max-width: 200%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}

#top-options {
    position: inherit;
    margin-bottom: 80px;
}

.homeTitle {
    margin-left: 50px;
}

/* Grade de jogos */
.games-grid {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 10px;
}

.games-grid #title {
    margin-left: 60px;
}

.games-grid #content {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

/* Estilo para a janela de jogo */
.window {
    display: flex;
    align-items: center;
    width: 100%; /* Ajusta a largura para dar espaço aos botões */
    padding: 20px;
    box-sizing: border-box;
    overflow-x:scroll; /* Permite rolagem horizontal */
    scroll-behavior: smooth; /* Adiciona um efeito suave à rolagem */
    white-space: nowrap;
    animation: slideIn 1s ease-out forwards;
}

.window::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem */
}

.container.gameCard {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    max-width: 250px;
    margin: 20px;
    background-color: var(--overlay-bg);
    border-radius: 15px;
    width: 200px;
    min-width: 200px;
    height: 340px;
    transition: transform 1s;
    /* animation: slideIn 1s ease-out forwards;
    animation-delay: 1s;  */
}

.container.gameCard .uiOptions {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.container.gameCard .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container.gameCard .title {
    position: absolute;
    top: -15px;
    left: 6px;
    padding: 10px;
    color: white;
    font-weight: bold; /* Negrito */
    opacity: 0;
    animation: fadeIn 1s forwards;
    font-size: 20px;
}

.container.gameCard .banner #banner {
    max-width: 100%;
    height: auto;
}

.container.gameCard .banner::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #12121260, transparent);
    pointer-events: none; /* Para garantir que não interfira com o botão ou qualquer outra interação */
}

.container.gameCard:hover {
    transform: scale(1.05);
}

#back {
    position: absolute;
}

/* Estilo geral para botões */
.btn {
    all: unset;
    display: flex;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.btn#back-button p {
    margin-left: 5px;
}

/* Efeito ao passar o mouse sobre o botão */
.btn:hover {
    transform: scale(1.05);
}

/* Estilo para o botão de voltar */
.btn #back-button {
    background-color: var(--scroll-button); /* Cor do botão */
    color: var(--text); /* Cor do texto do botão */
    top: 10px;
    left:20px;
}

.btn.scroll {
    background-color: var(--scroll-button); /* Cor do botão */
    color: var(--text); /* Cor do texto do botão */
    border: none; /* Remove a borda padrão */
    padding: 10px; /* Adiciona preenchimento ao botão */
    cursor: pointer; /* Indica que o botão é clicável */
    border-radius: 50px;
    margin: 20px;
}

.scroll-button:hover {
    background-color: var(--scroll-button-hover); /* Efeito de hover */
}

/* Animação de flutuação */
.floating {
    animation: floating 3s infinite ease-in-out;
}

/* Estilo para o botão de iniciar jogo */
#play-button {
    background-color: lawngreen;
    z-index: 1;
}

#play-button:hover {
    background-color: greenyellow;
}

@keyframes fadeIn {
    to { opacity: 1; }
}

/* Animação de flutuação */
@keyframes floating {
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(100%); /* Começa fora da tela à direita */
        opacity: 0;
    }
    100% {
        transform: translateX(0); /* Fica na posição original */
        opacity: 1;
    }
}

@media (max-width: 600px) {

    main {
        padding-left: 0;
    }

    #back-button {
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .btn {
        font-size: 12px;
        padding: 8px;
    }

    #play-button {
        font-size: 16px;
    }

    .window {
        padding: 0;
    }

    #games-grid {
        width: 100%;
        padding: 0;
    }
    
    .btn.scroll {
        background-color: transparent; /* Cor do botão */
        color: var(--text); /* Cor do texto do botão */
        border: none; /* Remove a borda padrão */
        padding: 0; /* Adiciona preenchimento ao botão */
        cursor: pointer; /* Indica que o botão é clicável */
        border-radius: 0;
        margin: 2px;
    }
}