::-webkit-scrollbar {
    background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg);
}

::-webkit-scrollbar-track {
    background-color: var(--bg);
}

.p1s {
    position: fixed;
    height: 100%;
    width: auto;
    z-index: 2;
    left: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-sizing: border-box;
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--bg) var(--bg);
}

.p1s.p1s-minimized #hide-p1s,
.p1s.p1s-hidden #hide-p1s {
    background-color: transparent;
}

#hide-p1s {
    position: absolute;
    top: 20px;
    transform: translateY(-50%);
    font-size: 25px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 30px;
    color: var(--text);
    border: none;
    z-index: 3;
    justify-content: center;
    align-items: center;
}

.p1s.p1s-active * {
    transition: 0.5s ease-in-out;
    transform: translateX(0);
}

.p1s.p1s-minimized * {
    transition: 0.5s ease;
}

.p1s.p1s-minimized .menu-hamburguer {
    border: none;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease;
    border-right: 1px solid var(--border);
}

.p1s.p1s-minimized .menu-hamburguer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.p1s.p1s-minimized .menu-hamburguer ul li {
    padding: 10px 5px;
    transition: transform 0.3s ease;
}

.p1s.p1s-minimized .menu-hamburguer ul li:hover {
    transform: scale(1.1);
}

.p1s.p1s-minimized .menu-hamburguer ul li a span {
    font-size: 24px;
}

.p1s.p1s-minimized .menu-hamburguer ul li a {
    display: inline-block;
    text-decoration: none;
}

.p1s.p1s-minimized .user-info {
    height: 40px;
}

.p1s.p1s-minimized .user-info img {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

.p1s.p1s-minimized .menu-hamburguer ul li a p,
.p1s.p1s-minimized .user-info p,
.p1s.p1s-minimized header {
    display: none;
    transition: width 0.5s ease;
}

.hidden {
    transform: translateX(-100%);
}

.hide {
    display: none;
    transition: opacity 0.5s ease;
}

.menu-hamburguer {
    width: 250px;
    position: relative;
    height: 100%;
    overflow: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
    border-right: 1px solid var(--border);
}

.menu-hamburguer.active {
    transform: translateX(0);
}

.user-info {
    position: relative;
    text-align: center;
    padding: 20px;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-name {
    font-size: 18px;
    margin: 5px 0;
}

.user-email {
    font-size: 14px;
    color: var(--mh-user-email);
}

.menu-options ul {
    list-style-type: none;
    padding: 0;
}

.menu-options li {
    padding-left: 15px;
    display: flex;
    list-style: none;
}

.menu-options a {
    display: flex;
    color: var(--mh-options);
    text-decoration: none;
    cursor: pointer;
}

.menu-options a p {
    margin-left: 8px;
}

.menu-options a span {
    margin-top: 17px;
}

.menu-options a:hover {
    color: var(--mh-options-hover);
}

.menu-hamburguer:not(.active) + .content {
    margin-left: 0;
}

@media (max-width: 600px) {

    .menu-hamburguer {
        width: 100%;
        transform: translateX(-100%);
        background-color: var(--menu-hamburguer);
    }

    .menu-hamburguer.active {
        transform: translateX(0);
    }

    .p1s {
        position: fixed;
        height: 100vh;
        width: 100vw;
        left: 0;
        z-index: 3;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transition: none;
    }
}

