::-webkit-scrollbar {
    background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg);
}

::-webkit-scrollbar-track {
    background-color: var(--bg);
}

#hide-p1s {
    position: absolute;
    top: 0;
    left: 5px;
    cursor: pointer;
    z-index: 3;
    font-size: 25px;
    background: unset;
    border: none;
    border-radius: 50%;
    padding: 10px;
    transition: transform 0.3s ease;
}

#hide-p1s:hover {
    transform: scale(1.2); /* Botão cresce ao passar o mouse */
}

.p1s {
    position: fixed;
    height: 100%;
    width: 240px; /* Largura padrão quando expandido */
    transition: width 0.5s ease, transform 0.5s ease;
    overflow: hidden;
    z-index: 2;
    left: 0;
    backdrop-filter: blur(10px);
    border-right: 1px solid var(--border);
}

.p1s.minimized {
    width: 60px;
}

.p1s.minimized .center ul li a p {
    opacity: 0;
    transform: translateX(-20px); /* Texto desliza para fora */
    pointer-events: none; /* Previne interações */
}

.p1s .center ul li a p {
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(0);
}

.p1s .center ul li a span {
    font-size: 24px;
    transition: transform 0.3s ease;
}

.p1s.minimized .center ul li a span {
    transform: scale(1.2); /* Aumenta o ícone ao recolher */
}

.p1s.active {
    animation: bounce 0.6s ease;
}

.p1s.active .user-info,
.p1s.active header {
    opacity: 1;
    transform: translateY(0);
}

.p1s .center {
    margin-top: 100px;
}

.p1s .center ul {
    list-style: none;
    margin: 0;
    transition: opacity 0.5s ease-in-out;
}

.p1s.minimized .center ul {
    opacity: 0; /* Esconde lista no estado minimizado */
}

.p1s .center ul li {
    padding: 5px 15px;
    transition: transform 0.3s ease;
}

.p1s .center ul li:hover {
    transform: scale(1.1);
}

.p1s .center ul li a {
    text-decoration: none;
}

.p1s .user-info {
    height: 40px;
    margin-top: 20px;
}

.p1s .user-info img {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.p1s.minimized .user-info img {
    transform: scale(0.8); /* Reduz a imagem no estado minimizado */
    opacity: 0.8;
}

.p1s .menu ul li a p,
.p1s .user-info p,
.p1s header {
    /* display: none; */
    transition: width 0.5s ease;
}

.hidden {
    transform: translateX(-100%);
}

.hide {
    display: none;
    transition: opacity 0.5s ease;
}

.user-info {
    position: relative;
    text-align: center;
    padding: 20px;
}

.p1s .user-info img.profile-picture {
    width: 60px; /* Aumente o tamanho da imagem */
    height: 60px; /* Garantir que a imagem tenha altura proporcional */
    border-radius: 50%;
}

.user-name {
    font-size: 18px;
    margin: 5px 0;
}

.user-email {
    font-size: 14px;
    color: var(--mh-user-email);
}

.menu-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-options ul {
    list-style-type: none;
    padding: 0;
}

.menu-options li {
    padding-left: 15px;
    display: flex;
    list-style: none;
}

.menu-options a {
    display: flex;
    color: var(--mh-options);
    text-decoration: none;
    cursor: pointer;
}

.menu-options a p {
    margin-left: 8px;
}

.menu-options a span {
    margin-top: 17px;
}

.menu-options a:hover {
    color: var(--mh-options-hover);
}

@media (max-width: 600px) {

    * {
        transition: unset !important;
    }
    
    .p1s {
        transition: transform 0.5s ease !important;
    }    

    #hide-p1s {
        display: none;
    }

    .p1s {
        position: fixed;
        width: 100%;
        bottom: 30px;
        left: 0;
        right: 0;
        background-color: var(--menu);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
        transform: translateY(100%);
        transition: transform 0.3s ease;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .p1s.active,
    .p1s.minimized {
        transition: transform 1s ease;
    }

        /* Área invisível de arraste */
    .invisible-drag-camp {
        position: absolute;
        width: 100%;               /* Largura da área de arraste */
        height: 100px;               /* Altura da área de arraste */
        top: 0;                     /* Posicionamento relativo ao contêiner */
        left: 50%;
        transform: translateX(-50%); /* Centraliza horizontalmente */
        background-color: transparent; /* Invisível sem esconder o conteúdo */
        pointer-events: auto;       /* Permite capturar eventos de toque */
        z-index: 3;                 /* Abaixo do botão, mas acima do menu */
    }

    /* Botão visual de enfeite */
    .drag-handle {
        width: 100px;                 /* Tamanho do botão */
        height: 10px;                 /* Altura do botão */
        background-color: var(--text); /* Cor do fundo do botão */
        border-radius: 5px;
        margin: 0 auto;
        cursor: grab;
        position: relative;
        top: 0;
        left: 0;
        transform: translateY(10px); /* Ajusta o posicionamento vertical */
        z-index: 4;                  /* Aparece acima da área invisível */
    } 

    .p1s .center {
        margin-top: 0;
    }

    .p1s.minimized {
        width: auto;
    }

    .center {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    /* Ajustando a disposição da imagem, nome e e-mail */
    .p1s .user-info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        transform: unset;
        transition: unset;
    }

    .p1s .user-info img {
        position: unset;
    }

    /* Estilizando a imagem para que não fique pequena */
    .p1s .user-info img.profile-picture {
        width: 60px; /* Aumente o tamanho da imagem */
        height: 60px; /* Garantir que a imagem tenha altura proporcional */
        border-radius: 50%;
    }

    .p1s .user-info .user-name,
    .p1s .user-info .user-email {
        font-size: 14px;
        color: var(--text);
        margin: 0;
    }

    .p1s .user-info .user-name {
        font-weight: bold;
    }

    .p1s .user-info .user-email {
        font-size: 12px;
    }

    /* Estilizando o restante das opções do menu */
    .menu-options ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 80%;
    }

    .menu-options li {
        margin: 10px 5px;
        background-color: var(--form-bg-sub);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: unset;
        transform: unset;
    }

    .menu-options a {
        display: flex;
        color: var(--text);
        text-decoration: none;
    }

    .menu-options a span #ul1-li3 {
        margin-top: 15px;
    }

    .menu-options a span #ul1-li3 {
        margin-top: 14px;
    }

    .menu-options a span #ul1-li4 {
        margin-top: 16px;
    }

    .p1s.minimized .user-info img {
        transform: unset;
        transition: unset;
    }

    /* Ajustando a altura do container para dispositivos móveis */
    @media (max-width: 768px) {
        .p1s {
            height: auto; /* Ajuste o tamanho conforme necessário */
        }
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}